[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/jsspencer/prezto
[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug/
[submodule "X/.Xresources.d/urxvt_papercolor_theme"]
	path = X/.Xresources.d/urxvt_papercolor_theme
	url = https://github.com/cf-ka/urxvt_papercolor_theme
